$background: #fcfcfc;
$primaryColor: #557baf;
$textColor: #a5a5a5;
$error: #ec547a;
$white: #ffffff;

$font-12: 12px;
$font-14: 14px;
$font-16: 16px;
$font-18: 18px;
$font-24: 24px;
$font-32: 32px;

$borderRadius10: 10px;