@import "../../../assets/scss/variables.scss";

.roleCardBack {
  width: 100%;
  background: $white;
  border-radius: $borderRadius8;
}

.formWrapper {
  padding: 20px;
}

.roleName {
  font-size: $font-18;
  font-weight: 500;
  text-align: left;
  color: $textColor;
}

.key {
  font-size: $font-16;
  font-weight: 500;
  text-align: left;
  color: $textColor;
}

@media screen and (max-width: 767px) {
  .formWrapper {
    padding: 10px;
  }
  .key {
    font-size: $font-14;
  }
}
