@import '../assets/scss/variables.scss';

.heading {
    font-size: $font-24;
    font-weight: 500;
    text-align: center;
    color: $textColor;
}

.subheading {
    font-size: $font-14;
    font-weight: normal;
    text-align: center;
    color: $textColor;
}

.cardlabel {
    font-size: $font-18;
    font-weight: 500;
    color: $textColor;
}
.wrapper {
    height: 350px;
}
.cardBody {
    height: 100%;
    overflow-y: scroll;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid $textColor;
}

.fieldHeading {
    font-size: $font-14;
    text-align: left;
    color: $textColor;
}

.formControl {
    width: 100%;
    border: 0;
    padding: 5px 10px;
    text-align: left;
}
.formControl:focus {
    box-shadow: none;
    outline: none;
}
.formControl::placeholder {
    font-size: $font-14;
    text-align: left;
    color: $textColor;
}

@media screen and (max-width: 767px) {
    .heading {
        font-size: $font-18;
    }
    .subheading {
        font-size: $font-12;
    }
}

@media screen and (max-width: 321px) {
    .heading {
        font-size: $font-14;
    }
    .subheading {
        font-size: $font-10;
    }
}