@import '../assets/scss/variables.scss';


.Logincard {
    width: 500px;
    margin: 0 auto;
    background-color: $white;
    text-align: center;
    border-radius: $borderRadius10;
    padding: 35px;
    box-shadow: $box-shadow;
}

.card {
    width: 900px;
    margin: 0 auto;
    background-color: $white;
    text-align: center;
    border-radius: $borderRadius10;
    padding: 35px;
    box-shadow: $box-shadow;
}

.background {
    min-height: 100vh;
    height: 100%;
    background-color: $background;
}

.logoBranding {
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 15px;
}

.contentContainer {
    height: 90%;
}

.editText {
    font-size: $font-16;
    font-weight: 500;
    text-align: left;
    color: $primaryColor;
    cursor: pointer;
}


.cancelText {
    font-size: $font-14;
    text-align: left;
    color: $textColor;
    cursor: pointer;
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
    .card {
        width: 700px;
        margin: 0 auto;
    }

    .Logincard {
        width: 500px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1199px) {
    .card {
        width: 900px;
        margin: 0 auto;
    }

    .Logincard {
        width: 500px;
    }
}

@media screen and (max-width: 766px) {
    .card {
        padding: 20px;
        width: 100%;
    }

    .Logincard {
        width: 100%;
        padding: 15px;
    }

    .contentContainer {
        height: 95%;
        padding: 15px
    }

    .logoBranding {
        height: 5%;
        padding: 0;
    }

    .editText {
        font-size: $font-14;
    }
}