@import '../assets/scss/variables.scss';

.card {
    background-color: $white;
    text-align: center;
    border-radius: $borderRadius10;
    padding: 35px;
}

@media screen and (max-width: 767px) {
    .card {
        padding: 20px;
    }
}

