@import '../assets/scss/variables.scss';

.settingsBack {
    height: calc(100vh - 70px);
    overflow-y: scroll;
}

@media screen and (max-width : 767px) {
    .settingsBack {
        height: calc(100vh - 46px);
        overflow-y: scroll
    }
}