@import './assets/scss/variables.scss';

.background {
    height: 100vh;
    background-color: $background;
}

@media screen and (max-width: 767px) {
    .background {
        padding: 15px;
    }
}
