@import './assets/scss/variables.scss';

.background {
    min-height: 100vh;
    height: 100%;
    background-color: $background;
}

.logoBranding {
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 15px;
}

.contentContainer {
    height: 90%;
}

@media screen and (max-width: 767px) {
    .contentContainer {
        height: 95%;
        padding: 15px
    }
    .logoBranding {
        height: 5%;
        padding: 0;
    }
}
