@import '../../assets/scss/variables.scss';

.back {
    padding: 20px 0 0;
    height: 100%;
}

.label {
    font-weight: 500;
    text-align: left;
    color: $textColor;
}

.headerHeight {
    height: 10%;
}

.contentHeight {
    height: 90%;
    overflow-y: scroll;
}

.accordionToggle {
    background: $white;
    border-radius: $borderRadius8;
    box-shadow: $box-shadow;
}

.accordionToggleContent {
    border-bottom-left-radius: $borderRadius8;
    border-bottom-right-radius: $borderRadius8;
    border-left: 1px solid $textColor;
    border-right: 1px solid $textColor;
    border-bottom: 1px solid $textColor;
}

@media screen and (max-width: 767px) {
    .responsiveText {
        font-size: 14px;
    }

    .label {
        font-size: $font-14;
    }
}